<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vmr" translate="label" sortOrder="0">
            <label>VMR</label>
        </tab>
        <section id="notification_popup" translate="label" type="text" sortOrder="100" showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Notification Popup</label>
            <tab>vmr</tab>
            <resource>Vmr_NotificationPopup::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="display_heading" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Heading</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="display_text" translate="label" type="textarea" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Text</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="start_date" translate="label" type="date" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40">
                    <label>Start Date</label>
                    <frontend_model>Vmr\NotificationPopup\Block\Adminhtml\System\Config\Date</frontend_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="end_date" translate="label" type="date" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
                    <label>End Date</label>
                    <frontend_model>Vmr\NotificationPopup\Block\Adminhtml\System\Config\Date</frontend_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>